.header{
    color: blueviolet;
    margin: 10px auto;
    padding: 10px;
    font: bolder;
    font-size: 25px;
    text-align: center;
}

ul{
    border:  1px solid ;
    width: 400px;
    margin: 10px  auto;
    padding: 10px;
    

}
li{
    list-style: none;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.marks input{
    width: 25px;
}
h1{
    text-align: center;
    color: green;
}
.problock{
    display: none;
}



#passed{
    color: rgb(3, 182, 3);
    font-weight: lighter;
    font-size: 20px;

}